version: '3'

services:
  app:
    build:
      context: .
    environment:
      MONGO_DBNAME: flask-core
      MONGO_URI: mongodb://mongo:27017/flask-core
      SECRET_KEY: your-secret-key
      SECURITY_PASSWORD_SALT: your-password-salt
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    networks:
      - my-network

  mongo:
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    networks:
      - my-network

networks:
  my-network:
    driver: bridge
